<header>
  <a href="/" class="logo">MEnterprise</a>
  <div class="menu">
    <i class="fa-solid fa-bars open"></i>
    <i class="fa-solid fa-x close"></i>
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
