<%- include('partials/boilerCode') %> <%- include('partials/navbar') %>
<div class="container">
  <div class="error">
    <h1 class="error-head">Something Went wrong</h1>
    <a href="/"><button id="reload">Reload</button></a>
  </div>
</div>
<%- include('partials/boilerCodeEnd') %>
