<%- include('partials/boilerCode') %> <%- include('partials/navbar') %>
<div class="container">
  <div class="error">
    <h1 class="error-head">404 <%= url %> Page Not Found</h1>
    <a href="/"><button id="reload">Home page</button></a>
  </div>
</div>
<%- include('partials/boilerCodeEnd') %>
